<div id="js_recipe_form">
	<%= form_for(@recipe, :html=>{:multipart=>true}) do |f| %>
	  <% if @recipe.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
	
	      <ul>
	      <% @recipe.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <div class="actions">
	  	<table>
	  		<tr>
	  			<th>Name</th>
	  			<td><%=f.text_field :name%></td>
	  		</tr>
	  		<tr>
	  			<th>Description</th>
	  			<td><%=f.text_area :description, :cols=>85, :rows=>3%></td>
	  		</tr>
	  		<tr>
	  			<th>Cover Image</th>
	  			<td>
	  				<%=f.file_field :image%>
	  				<br>
	  				<%=f.text_field :remote_image_url, :placeholder => "or image URL"%>
	  			</td>
	  		</tr>
	  		
	  		<tr>
	  			<td colspan="2" align="right"><%= f.submit 'Save'%></td>
	  		</tr>
	  	</table>
	  </div>
	<% end %>
</div>
