:javascript
  $(document).ready(function(){
    $(function() {
      $(".sortable_list").sortable({ opacity: 0.6, cursor: 'move', update: function() {
        var order = $(this).sortable("serialize") + '&recipe_id=' + $('#recipe_id').val();
        $.put("/steps/update_sequences", order, null, null);
      }
      });
    });
    
    //do not show form to edit receipt info by default
    $('#js_recipe_form').hide();
  });

%h2
  Editing recipe for
  = @recipe.name
  %p#notice= notice

%div= image_tag @recipe.image_url(:medium).to_s

%table
  %tr
    %td{:colspan=>2}
      %fieldset
        %legend#js_edit_recipe Recipe description
        = render 'form'
  %tr
    %td
      %fieldset
        %legend New step
        = render 'steps/form'
    %td
      %fieldset
        %legend New ingredient
        = render 'ingredients/form'
  %tr
    %td
      %ol#steps.sortable_list
        - @recipe.steps.each do |step|
          - if step.sequence_number
            %li{:id=>"recordid_#{step.id}"}
              = link_to 'Edit', edit_recipe_step_path(@recipe, step)
              |
              = link_to 'Remove', [@recipe, step], confirm: 'Are you sure?', method: :delete
              =step.description
    %td
      %ul#ingredients
        - @recipe.ingredients.each do |ingredient|
          - if ingredient.name
            %li
              = link_to 'Remove', {:controller=>:ingredients, :action=>:destroy, :id=>ingredient.id, :recipe_id=>@recipe.id}, {:method=>:delete}
              =ingredient.name