%h2= "Recipe for #{@recipe.name}"

= image_tag @recipe.image_url(:medium).to_s

%fieldset
  %legend.js_pullable_title Ingredient
  .js_pullable_div
    - @recipe.quantified_ingredients.each do |qingredient|
      - if qingredient.ingredient
        .ingredient
          = qingredient.ingredient.name
          X
          = qingredient.quantity
          = image_tag qingredient.ingredient.image_url(:medium).to_s

%fieldset
  %legend.js_pullable_title Steps
  .js_pullable_div
    - @recipe.steps.each_with_index do |step, index|
      - if step.sequence_number
        .step
          = index+1
          = step.description
          = image_tag step.image_url(:medium).to_s