<%= form_for @ingredient do |f| %>
<%= hidden_field_tag :recipe_id, @recipe.id%>
	<% if @ingredient.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

			<ul>
				<% @ingredient.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
  	<% end %>
	<table>
		<tr>
			<th>Name</th>
			<td><%= f.text_field :name%></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<th>Image</th>
			<td><%=f.file_field :image%></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td colspan="2" align="right"><%= f.submit 'Add'%></td>
		</tr>
	</table>
<% end %>