<h1>Editing song</h1>
<%= link_to 'List', songs_path %> | <%= link_to 'Show', @song %>

<hr />
<%=form_for @song do |f|%>
<table>
	<%tags_on_file(@song).each do |tag, value|%>
	<tr>
		<th><%=tag%></th>
		<td><%=f.text_field tag, :value=>value%></td>
	</tr>
	<%end%>
	<tr>
		<td colspan="2"><%=f.submit 'Update'%></td>
	</tr>
<%end%>
