<h1>Listing songs</h1>
<%= link_to 'Load Song', new_song_path %>
<hr />

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Genre</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%=song.title%></td>
    <td><%=song.artist%></td>
    <td><%=song.album%></td>
    <td><%=song.genre%></td>
    <td><%= link_to '', song_path(song, :format=>:mp3), {:class=>'media'} %></td> 
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
  </tr>
<% end %>
</table>
