<%= form_for [@recipe, @step], :html=>{:multipart=>true} do |f| %>
	<% if @step.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>
			<ul>
				<% @step.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
  	<% end %>
	<table>
		<tr>
			<th>Description</th>
			<td rowspan="2"><%= f.text_area :description, :rows=>2%></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<th>Image</th>
			<td><%=f.file_field :image%></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td colspan="2" align="right"><%= f.submit 'Add'%></td>
		</tr>
	</table>
<% end %>