<table>
	<tr>
		<th>Date</th>
		<td><%=@parent_expense.exp_date%></td>
	</tr>
	<tr>
		<th>Type</th>
		<td><%=@parent_expense.exp_type.description%></td>
	</tr>
	<tr>
		<th>Amount</th>
		<td><%=@parent_expense.amount%></td>
	</tr>
	<tr>
		<th>Payment method</th>
		<td><%=@parent_expense.payment_type.description%></td>
	</tr>
	<tr>
		<th>Note</th>
		<td><%=@parent_expense.note%></td>
	</tr>
</table>

<hr />
<%form_tag :action=>:update_breakdown do%>
<%=hidden_field_tag 'id', @parent_expense.id%>
<% fields_for(@expense) do |f| %>
  <%= f.error_messages %>
  <table>
  	<tr>
		<th align="left"><%=f.label :Date%></th>
		<td><%=f.calendar_date_select :exp_date, {:popup=>'force', :year_range=>[2.years.ago,3.years.from_now],:size=>15}%></td>
	</tr>
	<tr>
		<th align="left">Type</th>
		<td><%=f.select :exp_type_id, @exp_types.collect{|t| [t['description'], t['id']] }, {:include_blank => false}%></td>
	</tr>
	<tr>
  		<th align="left"><%=f.label :Amount%></th>
		<td><%=f.text_field :amount, :size=>10%></td>
  	</tr>
	<tr>
		<th align="left">Payment method</th>
		<td><%=f.select :payment_type_id, @payment_types.collect{|t| [t['description'], t['id']] }, {:include_blank => false}%></td>
	</tr>
	<tr>
		<th align="left">Note</th>
		<td><%=f.text_area :note%></td>
	</tr>
	<tr>
		<td colspan='2'>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" align="right"><%= submit_tag 'Break' %></td>
	</tr>
  </table>
<% end %>
<%end%>