<%=form_tag(:id=>'select_month') do%>
<table>
	<tr><th><%=date_select(@selected_month, :get, {:discard_day =>true, :include_blank=>false})%></th></tr>
	
	<%= observe_field(:selected_month,
					  :url=>url_for(:controller=>:expenses, :action=>:index, :year=>@selected_month.year, :month=>@selected_month.month),
					  :on =>'change'
					 ) %>
</table>
<%end%>
<table>
	<thead>
		<tr class="<%=cycle('even', 'odd')%>">
			<th colspan='2'>Previous month summary</th>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
<%@summaries.each_pair do |category,total|%>
		<tr class="<%=cycle('even', 'odd')%>">
			<th><%=ExpType.get_desc(category)%></th>
			<td align='right'><%=number_to_currency(total)%></td>
		</tr>
<%end%>
	</tbody>
	
</table>
<hr/>
<table width='90%'>
	<thead>
	  <tr class="<%=cycle('even', 'odd')%>">
	  	<th>Date</th>
		<th>Exp Type</th>
		<th style="text-align:right;">Amount</th>
		<th>Method</th>
		<th>Note</th>
		<th>&nbsp;</th>
	  </tr>
	</thead>
	<tfoot>
		<tr class="<%=cycle('even', 'odd')%>">
			<th colspan='2'>CURRENT MONTH TOTAL</th>
			<td align='right'><%=number_to_currency(@monthly_total)%></td>
		</tr>
	</tfoot>
	<tbody>
<% @expenses.each do |e| %>
	  <tr class="<%=cycle('even', 'odd')%>">
	  	<td><%= e.exp_date %></td>
		<td><%= e.exp_type.description%></td>
		<td align='right'><%= number_to_currency(e.amount) %></td>
		<td align='center'><%= e.payment_type.description%></td>
		<td><%= e.note %></td>
	    <td><%= link_to 'Show', e %> | <%= link_to 'Edit', edit_expense_path(e) %> | <%= link_to 'Break', :controller=>:expenses, :action=>:breakdown, :id=>e.id %> | <%= link_to 'Destroy', e, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
<% end %>		
	</tbody>
</table>