<script type="text/javascript">
	$(document).ready(function(){
		$(function() {
			$( ".datepicker" ).datepicker();
		});
	});
</script>

<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> occurs:</h2>
      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  	<tr>
		<th align="left"><%=f.label :Date%></th>
		<td><%=f.text_field :exp_date, :class=>'datepicker', :size=>10%></td>
	</tr>
	<tr>
		<th align="left">Type</th>
		<td><%=f.select :exp_type_id, @exp_types.collect{|t| [t['description'], t['id']] }, {:include_blank => false}%></td>
	</tr>
	<tr>
  		<th align="left"><%=f.label :Amount%></th>
		<td><%=f.text_field :amount, :size=>10%></td>
  	</tr>
	<tr>
		<th align="left">Payment method</th>
		<td><%=f.select :payment_type_id, @payment_types.collect{|t| [t['description'], t['id']] }, {:include_blank => false}%></td>
	</tr>
	<tr>
		<th align="left">Note</th>
		<td><%=f.text_area :note, :cols => 25, :rows=>2%></td>
	</tr>
	<tr>
		<td colspan='2'>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" align="right"><%= f.submit 'Done' %></td>
	</tr>
  </table>
<% end %>
