!!! 5

%html
  %head
    %title P.A.S
    = render :partial=>'assets'
    = csrf_meta_tags

%body
  .navigation
    %fieldset
      %legend
        %span.menuTitle Services
      - Pas::Application.config.ui_modules.each do |ui_mod|
        %a{:href=>"http://darkportal.no-ip.info/pas/#{ui_mod}"}=ui_mod.upcase
        %br

    -#
      = tabs_tag do |tab|
        = tab.financial 'Financial', expenses_path
        = tabs_tag :namespace => :expense_types do |tab|
          = tab.all 'Expense Types', exp_types_path
          = tabs_tag :namespace => :expense_type_actions do |tab|
            = tab.list 'List', exp_types_path
            = tab.add 'Add', new_exp_type_path
        
        = tabs_tag :namespace => :payment_types do |tab|
          = tab.all 'Payment Types', payment_types_path
          = tabs_tag :namespace => :payment_type_actions do |tab|
            = tab.list 'List', payment_types_path
            = tab.add 'Add', new_payment_type_path
        
        = tabs_tag :namespace => :expenses do |tab|
          = tab.all 'Expenses', expenses_path
          = tabs_tag :namespace => :expense_actions do |tab|
            = tab.list 'List', expenses_path
            = tab.add 'Add', new_expense_path
        
        = tab.music 'Music', songs_path
        
        = tab.cooking 'Cooking', recipes_path
        = tabs_tag :namespace => :recipes do |tab|
          = tab.all 'Recipes', recipes_path
          = tabs_tag :namespace => :recipe_actions do |tab|
            = tab.list 'List', recipes_path
            = tab.add 'Add', new_recipe_path
            = tab.edit 'Edit', edit_recipe_path(@recipe) if (@recipe && !@recipe.new_record?)
            = tab.show 'Detail', recipe_path(@recipe) if (@recipe && !@recipe.new_record?)
  .gap

  .content
    = render :partial=>'usecases_nav'
    %hr
    = yield

    #footnote
      %hr
      %p Menu on right since only ~15% of people are left-handed (should i consider those other 75% jerking off right handed while holding the tablet left hand?)
