!!! 5

%html
  %head
    %title P.A.S
    = stylesheet_link_tag    "application"
    = render :partial=>'assets'
    = csrf_meta_tags

%body
  .content
    = render :partial=>'usecases_nav'
    %hr
    = yield

    #footnote
      %hr
      %p Menu on right since only ~15% of people are left-handed (should i consider those other 75% jerking off right handed while holding the tablet left hand?)
