<!DOCTYPE html>
<html>
<head>
  <title>Pas</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<table>
		<tr>
			<td>
				<ul>
					<li><%=decorate_menu(link_to('Financial', {:controller=>:expenses, :action=>:index}, {:class=>'navigation'}))%></li>
					<li><%=decorate_menu(link_to('Music', {:controller=>:songs, :action=>:index}, {:class=>'navigation'}))%></li>
					<li><%=decorate_menu(link_to('Cooking', {:controller=>:recipes, :action=>:index}, {:class=>'navigation'}))%></li>
				</ul>
			</td>
			<td>
				<%= yield %>
			</td>
		</tr>
	</table>
</body>
</html>
