!!! 5

%html
  %head
    %title P.A.S
    = stylesheet_link_tag    "application"
    = render :partial=>'assets'
    = csrf_meta_tags
    %meta{:name=>"viewport", :content=>"initial-scale=1, width=device-width"}

%body
  .off-canvas-wrap
    .inner-wrap
      = render :partial=>'usecases_nav'

      %section.main-section
        = yield

      %a.exit-off-canvas